body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  height: 200px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.active{
  text-decoration: underline;
  color: orange;
}

/*Background*/
.background-img{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.background-img img{
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
} 

.background-img::before{
  content:"";
  background: linear-gradient(to bottom, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
} 

.background-img::after{
  content:"";
  background: linear-gradient(to top, black, transparent);
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  pointer-events: none;
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  margin-bottom:250px;
  padding-top: 5%;
   opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.content.visible{
  opacity: 1;
  transform: translateY(0);
}
.content-header{
  width: 45%;
  text-align: center; 
  margin: 0;
  font-family: Orbitron;
} 
.content-subheader{
  color: #ffba69;
  width: 40%;
  text-align: center;
}

.content-paragraph{
  width: 60%;
  text-align: center;
  font-family: inter 400;
}
/* */
.relative {
  position: relative;
  top: -450px;
}  .relative:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, transparent, black);
    pointer-events: none;
    }

.relative:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
    }

.poet {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.poet .poet-img {
  width: 800px;
  max-width: 90vw;
  height: auto;
}

.bg .body-bg {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.page-header {
  position: absolute;
  bottom: -380px;
  right: 280px;
  left: 280px;
}
.page-header h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -2%;
  line-height: 100%;
  font-size: 50px;
}
.page-header h2 {
  color: #ffba69;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -1.5%;
  line-height: 110%;
}
.page-header p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: default;
  line-height: 150%;
  font-family: 'Orbitron';
}