body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  height: 200px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  text-decoration: underline;
  color: orange;
}

/*Background*/
.background-img{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.background-img img{
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
} 

.background-img::before{
  content:"";
  background: linear-gradient(to bottom, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
} 

.background-img::after{
  content:"";
  background: linear-gradient(to top, black, transparent);
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  pointer-events: none;
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: column;
  font-size: 2.4vw;
  margin-bottom:80px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 5%;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.content.visible{
  opacity: 1;
  transform: translateY(0);
}
.content-header{
  width: 45%;
  text-align: center; 
  margin-bottom: 0px;
  font-family: Orbitron;
}
.content-subheader{
  color: #ffba69;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: Inter;
}
.content-paragraph{
  width: 60%;
  text-align: center;
    font-family: Inter;
  font-size: 24px;
  line-height: 130%;
}
/* Boxes */
  .box{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .box.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .individual-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 330px;
    border-radius: 10px;
    color: white;
    transition: 400ms;
    margin-bottom: 150px;
  }
  .tip{
    color: #ffba69;
    font-size: 40px;
    font-weight: bolder;
    font-family: Inter;
  }
  .second-text{
    font-size: 20px;
    text-align: left;
    height: 120px;
    font-family: Inter;
    line-height: 150%;
  }
/* Mobile */
@media (min-width: 320px) and (max-width: 700px) {
.background-img img {
    height: 300px;
  }

  .background-img::before {
    height: 80px;
  }

  .background-img::after {
    height: 120px;
  }
  .content{
  flex-direction: column;
  font-size: 18px;
  margin-bottom:100px;
  padding-top: 5%;
  opacity: 0;
}
.content-subheader{
  color: #ffba69;
  width: 80%;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 18px;
}
.content-paragraph{
  width: 80%;
  font-size: 18px;
  margin-bottom: 80px;
}
.box{
    flex-direction: column;
    opacity: 0;
  }
  .individual-box{
    height: 100px;
    width: 85%;
    border-radius: 10px;
  }
  .tip{
    font-size: 38px;
  }
  .second-text{
    font-size: 18px;
    text-align: left;
    height: 150px;
    margin-bottom: 10px;
  }
  #last-text{
    margin-bottom: 300px;
  }
  #last-text p{
    height: 140px;
  }
}
/* Laptop And Tablet */
@media (min-width: 701px) and (max-width: 1023px) {
  .content{
  flex-direction: column;
  font-size: 30px;
  margin-bottom:100px;
} 
.content-header{
  width: 65%;
}
.content-subheader{
  width: 65%;
  font-size: 35px;
}
.content-paragraph{
  width: 70%;
  font-size: 24px;
}
.box{
    flex-direction: row;
    gap: 20px;
  }
  .individual-box{
    flex-direction: column;
    height: auto;
    width: 30%;
    margin-bottom: 180px;
  }
  .tip{
    font-size: 30px;
    margin-bottom: 50px;
  }
  .second-text{
    font-size: 18px;
    text-align: left;
    height: 180px;
  }
}
/* Laptop */
@media (min-width: 1024px) and (max-width: 1919px) {
.content{
  flex-direction: column;
  font-size: 35px;
  margin-bottom:100px;
} 
.content-header{
  width: 45%;
}
.content-subheader{
  width: 45%;
  font-size: 35px;
}
.content-paragraph{
  width: 75%;
  font-size: 28px;
}
.box{
    flex-direction: row;
    gap: 25px;
  }
  .individual-box{
    flex-direction: column;
    height: auto;
    width: 30%;
    margin-bottom: 180px;
  }
  .tip{
    font-size: 2.7vw;
  }
  .second-text{
    font-size: 1.8vw;
    text-align: left;
    height: 180px;
  }
}

/* Desktop (2K) */
@media (min-width: 1920px) and (max-width: 2560px) {
.content{
  flex-direction: column;
  font-size: 50px;
  margin-bottom:200px;
}
.content-header{
  width: 45%;
  margin: 0;
} 
.content-subheader{
  width: 40%;
  margin-top: 0px;
  margin-bottom: 200px;
  font-size: 55px;
}
.content-paragraph{
  width: 70%;
  font-size: 50px;
}
.box{
    flex-direction: row;
    gap: 160px;
  }
  .individual-box{
    flex-direction: column;
    height: auto;
    width: 25%;
    margin-bottom: 300px;
  }
  .tip{
    font-size: 80px;
  }
  .second-text{
    font-size: 40px;
    text-align: left;
    height: 350px;
  }
}