body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  height: 200px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.active{
  text-decoration: underline;
  color: orange;
}

/*Background*/
.background-img{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.background-img img{
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
} 

.background-img::before{
  content:"";
  background: linear-gradient(to bottom, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
} 

.background-img::after{
  content:"";
  background: linear-gradient(to top, black, transparent);
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  pointer-events: none;
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.4vw;
  margin-bottom:80px;
  padding-top: 5%;
   opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.content.visible{
  opacity: 1;
  transform: translateY(0);
}
.content-header{
  width: 45%;
  text-align: center; 
  margin: 0;
  font-family: Orbitron;
} 
.content-subheader{
  color: #ffba69;
  width: 40%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 30px;
}

.content-paragraph{
  width: 60%;
  text-align: center;
  font-family: inter 400;
  font-size: 24px;
}
/* Boxes */
@media screen and (max-width: 1440px){
  .box{
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .box.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .individual-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 330px;
    border-radius: 10px;
    color: white;
    transition: 400ms;
    margin-bottom: 150px;
  }
  .tip{
    color: #ffba69;
    font-size: 40px;
    font-weight: bolder;
    font-family: Inter;
  }
  .second-text{
    font-size: 20px;
    text-align: left;
    height: 120px;
    font-family: Inter;
  }
}