body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  min-height: 100vh;
}

p {
  color: white;
  font-family: Orbitron, sans-serif;
}

mark {
  background-color: #ffba69;
  color: black;
  padding: 2px 5px;
  border-radius: 3px;
}

.active{
  text-decoration: underline;
  color: orange;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
  color: white;
  font-family: Orbitron, sans-serif;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer p {
  margin: 0;
  opacity: 0.6;
  letter-spacing: 1px;
}

/*Background*/
.background-img{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.background-img img{
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
} 

.background-img::before{
  content:"";
  background: linear-gradient(to bottom, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
} 

.background-img::after{
  content:"";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  pointer-events: none;
  z-index: 1;
}

.content{
  display: flex;
  flex-direction: column;
  font-size: 2.4vw;
  margin-bottom: 80px;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 5%;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  font-family: Orbitron, sans-serif;
}

.content.visible{
  opacity: 1;
  transform: translateY(0);
}

.content-header{
  width: 45%;
  text-align: center; 
  margin-bottom: 0px;
  font-family: Orbitron, sans-serif;
  font-size: 2.4vw;
}

.content-subheader{
  color: #ffba69;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family: Inter, sans-serif;
}

.content-paragraph{
  width: 60%;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-size: 24px;
  line-height: 150%;
}

/* Boxes */
.box{
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  padding: 0 20px;
  margin-bottom: 150px;
}

.box.visible {
  opacity: 1;
  transform: translateY(0);
}

.individual-box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  min-height: 400px;
  width: 330px;
  border-radius: 10px;
  color: white;
  transition: 400ms;
}

.tip{
  color: #ffba69;
  font-size: 40px;
  font-weight: bolder;
  font-family: Orbitron, sans-serif;
  margin: 0;
  padding: 0;
}

.second-text{
  font-size: 20px;
  text-align: left;
  line-height: 150%;
  font-family: Orbitron, sans-serif;
  padding-top: 30px;
  margin: 0;
  display: block;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 700px) {
  .background-img img {
    height: 300px;
  }

  .background-img::before {
    height: 80px;
  }

  .background-img::after {
    height: 120px;
  }
  
  .content{
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 100px;
    padding-top: 5%;
    opacity: 0;
  }
  
  .content-header{
    width: 80%;
    font-size: 30px;
  }
  
  .content-subheader{
    color: #ffba69;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 18px;
  }
  
  .content-paragraph{
    width: 80%;
    font-size: 16px;
    margin-bottom: 80px;
  }
  
  .box{
    flex-direction: column;
    opacity: 0;
    gap: 0;
    padding: 0 20px;
    margin-bottom: 100px;
  }
  
  .individual-box{
    min-height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 60px;
  }
  
  .tip{
    font-size: 28px;
  }
  
  .second-text{
    font-size: 16px;
    text-align: left;
    padding-top: 20px;
    width: 100%;
  }
  
  #last-text{
    margin-bottom: 100px;
  }
  
  .footer p {
    font-size: 8px;
  }
}

/* Laptop And Tablet */
@media (min-width: 701px) and (max-width: 1023px) {
  .content{
    flex-direction: column;
    font-size: 30px;
    margin-bottom: 100px;
  } 
  
  .content-header{
    width: 65%;
    font-size: 50px;
  }
  
  .content-subheader{
    width: 65%;
    font-size: 22px;
  }
  
  .content-paragraph{
    width: 70%;
    font-size: 20px;
  }
  
  .box{
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 30px;
  }
  
  .individual-box{
    flex-direction: column;
    min-height: 420px;
    width: calc(33.333% - 15px);
    margin-bottom: 0;
    flex: 0 1 auto;
  }
  
  .tip{
    font-size: 26px;
    margin-bottom: 0;
  }
  
  .second-text{
    font-size: 16px;
    text-align: left;
    padding-top: 25px;
  }
  
  .footer p {
    font-size: 10px;
  }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1919px) {
  .content{
    flex-direction: column;
    font-size: 35px;
    margin-bottom: 100px;
  } 
  
  .content-header{
    width: 45%;
    font-size: 60px;
  }
  
  .content-subheader{
    width: 45%;
    font-size: 25px;
  }
  
  .content-paragraph{
    width: 75%;
    font-size: 24px;
  }
  
  .box{
    flex-direction: row;
    gap: 40px;
    padding: 0 50px;
  }
  
  .individual-box{
    flex-direction: column;
    min-height: 450px;
    width: calc(33.333% - 30px);
    margin-bottom: 0;
  }
  
  .tip{
    font-size: 32px;
  }
  
  .second-text{
    font-size: 18px;
    text-align: left;
    padding-top: 30px;
  }
  
  .footer p {
    font-size: 11px;
  }
}

/* Desktop (2K) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .content{
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 200px;
  }
  
  .content-header{
    width: 45%;
    margin: 0;
    font-size: 100px;
  } 
  
  .content-subheader{
    width: 40%;
    margin-top: 0px;
    margin-bottom: 200px;
    font-size: 40px;
  }
  
  .content-paragraph{
    width: 70%;
    font-size: 38px;
  }
  
  .box{
    flex-direction: row;
    gap: 80px;
    padding: 0 100px;
  }
  
  .individual-box{
    flex-direction: column;
    min-height: 550px;
    width: calc(33.333% - 60px);
    margin-bottom: 0;
  }
  
  .tip{
    font-size: 50px;
  }
  
  .second-text{
    font-size: 28px;
    text-align: left;
    padding-top: 40px;
  }
  
  .footer p {
    font-size: 14px;
  }
}

/* Desktop (4K) */
@media (min-width: 2560px) {
  .content{
    flex-direction: column;
    font-size: 50px;
    margin-bottom: 200px;
  }
  
  .content-header{
    width: 45%;
    margin: 0;
    font-size: 150px;
  } 
  
  .content-subheader{
    width: 40%;
    margin-top: 0px;
    margin-bottom: 200px;
    font-size: 55px;
  }
  
  .content-paragraph{
    width: 70%;
    font-size: 48px;
  }
  
  .box{
    flex-direction: row;
    gap: 100px;
    padding: 0 150px;
  }
  
  .individual-box{
    flex-direction: column;
    min-height: 650px;
    width: calc(33.333% - 70px);
    margin-bottom: 0;
  }
  
  .tip{
    font-size: 60px;
  }
  
  .second-text{
    font-size: 36px;
    text-align: left;
    padding-top: 50px;
  }
  
  .footer p {
    font-size: 18px;
  }
}