body{
  height: 4300px;
  margin: 0;
  background-color: black;
}

/* body */

.background-img{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: black;
}

.background-img img{
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
} 

.background-img::before{
  content:"";
  background: linear-gradient(to bottom, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
} 

.background-img::after{
  content:"";
  background: linear-gradient(to top, black, transparent);
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  pointer-events: none;
  z-index: 1;
}

.content, .main-content, .left-section-upper, .left-section-below, 
.right-section, .header-sec4, .box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.content.visible,.main-content.visible, .left-section-upper.visible,
.left-section-below.visible, .right-section.visible,.header-sec4.visible,
.box.visible {
  opacity: 1;
  transform: translateY(0);
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150px;
  margin-bottom:250px;
  padding-top: 5%;
}

.content-header{
  width: 45%;
  text-align: center; 
  margin: 0;
  font-family: Orbitron;
  font-size: 48px;
} 

.content-paragraph{
  width: 35%;
  text-align: center;
  color: #ffba69;
  font-family: inter 400;
  font-size: 32px;
}

.main-content{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about{
  color:  rgb(236, 173, 0);
  text-transform: uppercase;
  font-size: 70px;
  margin: 0;
  font-family: Orbitron;
}

.main-paragraph{
  font-size: 45px;
  width: 70%;
}

/*section 3*/

.grid-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
  gap: 40px;
  margin-top: 200px;
}

.left-section-upper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;
}

.left-arrow{
  transform: scaleX(-1);
}

.left-section .middle-text{
  color: orange;
  font-size: 60px;
  text-align: center;
  width: 350px;
  font-family: Orbitron;
  font-weight: bold;
}

.left-section img{
  width: 200px;
  height: auto;
}

.left-section-below{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;  
  margin: 0 auto;
  font-size: 35px;
  text-align: justify;
  font-family: Orbitron;
}

.right-section{
  width:100%;
  top: 0;
  right: 0;
  object-fit: cover;
  padding-top: 100px;
} 

.right-section img{
  width: 100%;
  height: 100%;
  border-radius: 25%;
}

/* section4 */

.header-sec4{
  margin-top: 15%;
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  justify-items: center;
  font-family: orbitron;
}

.box{
  color:white;
  display: flex;
  justify-content: space-between;
  gap:100px;
  height: auto;
  margin-right: 50px;
  margin-left: 50px;
  font-family: Orbitron;
  line-height: 50px;
}

.box div{
  border-color: orange;
  border-style: solid;
  border-width:5px;
  padding: 10px 100px 10px 100px;
  border-radius: 10px;
} 

.box h1{
  text-transform: uppercase;
  text-align: center;
  color: orange;
  font-weight: 700;
  font-size: 40px;
} 

.box p{
  text-align: left;
  font-size: 30px;
}

/* footer */
.footer {
  background: linear-gradient(to top, black, transparent);
  padding: 20px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.footer p {
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 700px) {
  .header-logo {
    width: 50px;
  }

  .left-logo {
    left: 15px;
  }

  .center-nav {
    gap: 18px;
    font-size: 12px;
  }


  .background-img img {
    height: 300px;
  }

  .background-img::before {
    height: 80px;
  }

  .background-img::after {
    height: 120px;
  }


  .content {
    font-size: 28px;
    margin-bottom: 150px;
    padding-top: 8%;
  }

  .content-header {
    width: 85%;
    font-size: 42px;
  }

  .content-paragraph {
    width: 80%;
    font-size: 30px;
  }

  .about {
    font-size: 35px;
  }

  .main-paragraph {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }


  .grid-layout {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
    margin-top: 80px;
  }

  .left-section-upper {
    gap: 10px;
    flex-direction: row;
  }

  .left-section .middle-text {
    font-size: 30px;
    width: auto;
  }

  .left-section img {
    width: 60px;
  }

  .left-section-below {
    width: 90%;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
  }

  .right-section {
    padding-top: 20px;
    width: 100%;
  }

  .right-section img {
    border-radius: 10%;
    width: 100%;
    height: auto;
  }


  .header-sec4 {
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
  }

  .box {
    flex-direction: column;
    gap: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .box div {
    padding: 10px 20px;
  }

  .box h1 {
    font-size: 24px;
  }

  .box p {
    font-size: 16px;
  }


  .footer p {
    font-size: 11px;
  }
}

/* Laptop */
@media (min-width: 701px) and (max-width: 1023px) {

  .header-logo {
    width: 60px;
  }

  .left-logo {
    left: 18px;
  }

  .center-nav {
    gap: 25px;
    font-size: 13px;
  }

  .center-nav a {
    letter-spacing: 0.8px;
  }


  .background-img img {
    height: 400px;
  }

  .background-img::before {
    height: 100px;
  }

  .background-img::after {
    height: 160px;
  }


  .content {
    font-size: 80px;
    margin-bottom: 200px;
  }

  .content-header {
    width: 55%;
    font-size: 52px;
  }

  .content-paragraph {
    width: 45%;
    font-size: 34px;
  }

  .about {
    font-size: 50px;
  }

  .main-paragraph {
    font-size: 32px;
    width: 85%;
  }


  .grid-layout {
    grid-template-columns: 0.9fr 1.1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
    margin-top: 150px;
  }

  .left-section-upper {
    flex-direction: row;
    gap: 30px;
  }

  .left-section .middle-text {
    font-size: 50px;
    width: 300px;
  }

  .left-section img {
    width: 150px;
  }

  .left-section-below {
    width: 100%;
    font-size: 28px;
    text-align: justify;
  }

  .right-section {
    padding-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15%;
  }


  .header-sec4 {
    margin-top: 12%;
    font-size: 30px;
  }

  .box {
    flex-direction: row;
    gap: 50px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .box div {
    padding: 10px 50px;
  }

  .box h1 {
    font-size: 28px;
  }

  .box p {
    font-size: 22px;
  }
}

/* Desktop */
@media (min-width: 1024px) and (max-width: 1919px) {

  .header-logo {
    width: 70px;
  }

  .left-logo {
    left: 20px;
  }

  .center-nav {
    gap: 30px;
    font-size: 14px;
  }

  .center-nav a {
    letter-spacing: 1px;
  }


  .background-img img {
    height: 450px;
  }

  .background-img::before {
    height: 120px;
  }

  .background-img::after {
    height: 180px;
  }


  .content {
    font-size: 100px;
    margin-bottom: 250px;
  }

  .content-header {
    width: 50%;
    font-size: 58px;
  }

  .content-paragraph {
    width: 40%;
    font-size: 36px;
  }

  .about {
    font-size: 55px;
  }

  .main-paragraph {
    font-size: 35px;
    width: 80%;
  }


  .grid-layout {
    grid-template-columns: 0.8fr 1.2fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
    margin-top: 200px;
  }

  .left-section-upper {
    flex-direction: row;
    gap: 40px;
  }

  .left-section .middle-text {
    font-size: 60px;
    width: 350px;
  }

  .left-section img {
    width: 200px;
  }

  .left-section-below {
    width: 100%;
    font-size: 35px;
    text-align: justify;
  }

  .right-section {
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15%;
  }


  .header-sec4 {
    margin-top: 15%;
    font-size: 35px;
  }

  .box {
    flex-direction: row;
    gap: 60px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .box div {
    padding: 10px 60px;
  }

  .box h1 {
    font-size: 32px;
  }

  .box p {
    font-size: 24px;
  }
}

/* Desktop */
@media (min-width: 1920px) and (max-width: 2559px) {

  .header-logo {
    width: 80px;
  }

  .left-logo {
    left: 30px;
  }

  .center-nav {
    gap: 40px;
    font-size: 16px;
  }


  .background-img img {
    height: 550px;
  }

  .background-img::before {
    height: 140px;
  }

  .background-img::after {
    height: 200px;
  }


  .content {
    font-size: 120px;
    margin-bottom: 280px;
  }

  .content-header {
    width: 48%;
    font-size: 62px;
  }

  .content-paragraph {
    width: 38%;
    font-size: 40px;
  }

  .about {
    font-size: 75px;
  }

  .main-paragraph {
    font-size: 48px;
    width: 70%;
  }


  .grid-layout {
    grid-template-columns: 0.8fr 1.2fr;
    gap: 50px;
    margin-top: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .left-section-upper {
    gap: 80px;
  }

  .left-section .middle-text {
    font-size: 70px;
    width: 450px;
  }

  .left-section img {
    width: 240px;
  }

  .left-section-below {
    width: 100%;
    font-size: 38px;
    line-height: 1.5;
  }

  .right-section {
    padding-top: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15%;
  }


  .header-sec4 {
    font-size: 45px;
  }

  .box {
    gap: 100px;
    margin-right: 60px;
    margin-left: 60px;
  }

  .box div {
    padding: 12px 100px;
  }

  .box h1 {
    font-size: 42px;
  }

  .box p {
    font-size: 32px;
  }

  .footer p {
    font-size: 14px;
  }
}

/* Desktop */
@media (min-width: 2560px) {

  .header-logo {
    width: 90px;
  }

  .left-logo {
    left: 40px;
  }

  .center-nav {
    gap: 50px;
    font-size: 18px;
  }


  .background-img img {
    height: 650px;
  }

  .background-img::before {
    height: 150px;
  }

  .background-img::after {
    height: 250px;
  }


  .content {
    font-size: 150px;
    margin-bottom: 300px;
  }

  .content-header {
    width: 45%;
    font-size: 68px;
  }

  .content-paragraph {
    width: 35%;
    font-size: 42px;
  }

  .about {
    font-size: 90px;
  }

  .main-paragraph {
    font-size: 55px;
    width: 65%;
  }


  .grid-layout {
    grid-template-columns: 0.8fr 1.2fr;
    gap: 60px;
    margin-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .left-section-upper {
    gap: 100px;
  }

  .left-section .middle-text {
    font-size: 80px;
    width: 500px;
  }

  .left-section img {
    width: 280px;
  }

  .left-section-below {
    width: 100%;
    font-size: 42px;
    line-height: 1.6;
    margin-bottom: 100px;
  }

  .right-section {
    padding-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 15%;
  }


  .header-sec4 {
    font-size: 50px;
  }

  .box {
    gap: 120px;
    margin-right: 80px;
    margin-left: 80px;
  }

  .box div {
    padding: 15px 120px;
  }

  .box h1 {
    font-size: 50px;
  }

  .box p {
    font-size: 36px;
  }

  .footer p {
    font-size: 16px;
  }
}