* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: Orbitron;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 0;
}

p {
  color: white;
  font-family: Orbitron;
}

a {
  text-decoration: none;
  color: inherit;
}