.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  top: 0;
}

.relative {
  position: relative;
  top: -58px;
}  .relative:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, transparent, black);
    pointer-events: none;
    }

.relative:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
    }

.poet {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.poet .poet-img {
  width: 800px;
  max-width: 90vw;
  height: auto;
}

.bg .body-bg {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}