body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  height: 10000px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.active{
  text-decoration: underline;
  color: orange;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  top: 0;
}

.relative {
  position: relative;
  top: -450px;
}  .relative:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, transparent, black);
    pointer-events: none;
    }

.relative:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, transparent, black);
    pointer-events: none;
    }

.poet {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.poet .poet-img {
  width: 800px;
  max-width: 90vw;
  height: auto;
}

.bg .body-bg {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.page-header {
  position: absolute;
  bottom: -130px;
  right: 280px;
  left: 280px;
}
.page-header h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -2%;
  line-height: 100%;
  font-size: 50px;
}
.page-header h2 {
  color: #ffba69;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -1.5%;
  line-height: 110%;
}
.page-header p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: default;
  line-height: 150%;
  font-family: "Inter";
}
.boxs {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;

}
.boxs .box {
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  border: solid #ffa947;
  color: white; 
  cursor: pointer;
  transition: 400ms;
    font-size: 25px;
}
.boxs .box:hover {
  transform: scale(1, 1);

}

.boxs:hover > .box:not(:hover) {
  transform: scale(0.9, 0.9);
}

button {
  background-color: black;
  border:solid #ffffff;
  border-radius: 8px;
  width: 230px;
  height: 50px;
  color: white;
  background-color: #ffa947;
  transition: 400ms;
  font-size: 20px;
   padding: 15px 25px;
}
button:hover {
  transform: scale(1.1, 1.1); 
  cursor: pointer;
}
button:active {
  transform: scale(1, 1); ;
}