.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(43, 42, 42, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: relative;
  z-index: 2;
  padding-bottom: 15px;
}

.left-nav,
.right-nav {
  display: flex;
  gap: 20px;
  padding-left: 90px;
  padding-right: 60px;
  font-family: 'Orbitron';
  font-size: 20px;
  align-items: center;
}

.left-nav a,
.right-nav a {
  transition: all 0.3s ease;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}

.left-nav a:hover,
.right-nav a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(238, 171, 47);
  transform: scale(1.1);
  color: orange;
}

.left-nav:has(a:hover) a:not(:hover),
.right-nav:has(a:hover) a:not(:hover) {
  opacity: 0.5;
  transform: scale(0.90);
}

.middle-logo {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.header-logo {
  width: 200px;
  height: auto;
  display: block;

}