body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  height: 10000px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 100;
}

.active{
  text-decoration: underline;
  color: orange;
}