body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  height: 2500px;
}

p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  text-decoration: underline;
  color: orange;
}